# general
hs_err_pid*

# Idea
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# java
*.jar
*.war
*.ear
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
